<!-- views/teams/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Teams Index</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All NFL Teams</h1>
      <a class="add-team" href="/teams/new">Add New Team</a>
    </div>
    <div class="teams-container">
      <% teams.forEach(team => { %>
        <a href="/teams/<%= team._id %>" class="team-cards">
          <% if (team.imageUrl) { %>
            <img src="<%= team.imageUrl %>" alt="<%= team.name %> image" />
          <% } else { %>
            <img src="/images/default.png" alt="Default image" />
          <% } %>
          <h2 class="team-name"><%= team.city %> <%= team.name %></h2>
        </a>
      <% }) %>
    </div>
  </body>
</html>
