<!-- views/teams/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Teams Index</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All NFL Teams</h1>
      <a class="add-team" href="/teams/new">Add New Team</a>
    </div>
    <div class="teams-container">
      <% teams.forEach(team => { %>
        <a href="/teams/<%= team._id %>" class="team-cards">
          <% if (team.imageUrl) { %>
            <img src="<%= team.imageUrl %>" alt="<%= team.name %> image" />
          <% } else if (team.name === "Cardinals") { %>
            <img src="/views/logos/cardinals.png" alt="Cardinals image" />
          <% } else if (team.name === "Falcons") { %>
            <img src="/views/logos/falcons.png" alt="Falcons image" />
          <% } else if (team.name === "Ravens") { %>
            <img src="/views/logos/ravens.png" alt="Ravens image" />
          <% } else if (team.name === "Bills") { %>
            <img src="/views/logos/bills.png" alt="Bills image" />
          <% } else if (team.name === "Panthers") { %>
            <img src="/views/logos/panthers.png" alt="Panthers image" />
          <% } else if (team.name === "Bears") { %>
            <img src="/views/logos/bears.png" alt="Bears image" />
          <% } else if (team.name === "Bengals") { %>
            <img src="/views/logos/bengals.png" alt="Bengals image" />
          <% } else if (team.name === "Browns") { %>
            <img src="/views/logos/browns.png" alt="Browns image" />
          <% } else if (team.name === "Cowboys") { %>
            <img src="/views/logos/cowboys.png" alt="Cowboys image" />
          <% } else if (team.name === "Broncos") { %>
            <img src="/views/logos/broncos.png" alt="Broncos image" />
          <% } else if (team.name === "Lions") { %>
            <img src="/views/logos/lions.jpg" alt="Lions image" />
          <% } else if (team.name === "Packers") { %>
            <img src="/views/logos/packers.jpg" alt="Packers image" />
          <% } else if (team.name === "Texans") { %>
            <img src="/views/logos/texans.png" alt="Texans image" />
          <% } else if (team.name === "Colts") { %>
            <img src="/views/logos/colts.jpg" alt="Colts image" />
          <% } else if (team.name === "Jaguars") { %>
            <img src="/views/logos/jaguars.png" alt="Jaguars image" />
          <% } else if (team.name === "Chiefs") { %>
            <img src="/views/logos/chiefs.jpg" alt="Chiefs image" />
          <% } else if (team.name === "Raiders") { %>
            <img src="/views/logos/raiders.png" alt="Raiders image" />
          <% } else if (team.name === "Chargers") { %>
            <img src="/views/logos/chargers.png" alt="Chargers image" />
          <% } else if (team.name === "Rams") { %>
            <img src="/views/logos/rams.jpg" alt="Rams image" />
          <% } else if (team.name === "Dolphins") { %>
            <img src="/views/logos/dolphins.png" alt="Dolphins image" />
          <% } else if (team.name === "Vikings") { %>
            <img src="/views/logos/vikings.jpg" alt="Vikings image" />
          <% } else if (team.name === "Patriots") { %>
            <img src="/views/logos/patriots.jpg" alt="Patriots image" />
          <% } else if (team.name === "Saints") { %>
            <img src="/views/logos/saints.png" alt="Saints image" />
          <% } else if (team.name === "Giants") { %>
            <img src="/views/logos/giants.png" alt="Giants image" />
          <% } else if (team.name === "Jets") { %>
            <img src="/views/logos/jets.png" alt="Jets image" />
          <% } else if (team.name === "Eagles") { %>
            <img src="/views/logos/eagles.png" alt="Eagles image" />
          <% } else if (team.name === "Steelers") { %>
            <img src="/views/logos/steelers.png" alt="Steelers image" />
          <% } else if (team.name === "49ers") { %>
            <img src="/views/logos/49ers.png" alt="49ers image" />
          <% } else if (team.name === "Seahawks") { %>
            <img src="/views/logos/seahawks.png" alt="Seahawks image" />
          <% } else if (team.name === "Buccaneers") { %>
            <img src="/views/logos/buccaneers.png" alt="Buccaneers image" />
          <% } else if (team.name === "Titans") { %>
            <img src="/views/logos/titans.png" alt="Titans image" />
          <% } else if (team.name === "Commanders") { %>
            <img src="/views/logos/commanders.png" alt="Commanders image" />
          <% } else { %>
            <p>No image available</p>
          <% } %>
          <h2 class="team-name"><%= team.city %> <%= team.name %></h2>
        </a>
      <% }) %>
    </div>
    </ul>
  </body>
</html>
