<!-- views/teams/show.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= `${team.city} ${team.name}`%></title>
  </head>
  <body>
    <h1><%= `${team.city} ${team.name}`%></h1>
    <% if (team.isReadyForPlayoffs) { %>
        <p>This team is ready for Playoffs!</p>
    <% } else { %>
        <p>This team is not ready for Playoffs!</p>
    <% } %>
    <form action="/teams/<%=team._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= `${team.city} ${team.name}`%></button>
    </form>
    <a href="/teams/<%= team._id %>/edit">Edit <%= `${team.city} ${team.name}`%></a>
    <a href="/teams/">Back to Teams</a>
  </body>
</html>
